<div class="container">
  <h2 class="title-lg mb">Вопросы</h2>

  <% @questions.each do |question| %>
    <% hidden_class = question.hidden ? "semivisible" : "visible" %>
    <%= content_tag :p, class: ["mb-sm", hidden_class] do %>
      <%= link_to "Вопрос #{question.id}", question_path(question) %>
    <% end %>
  <% end %>

  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </p>
</div>